# Auto detect text files and perform LF normalization
* text=auto
ratings.csv filter=lfs diff=lfs merge=lfs -text
genome-scores.csv filter=lfs diff=lfs merge=lfs -text
ratigns.csv.psd filter=lfs diff=lfs merge=lfs -text
genome-scores.csv.psd filter=lfs diff=lfs merge=lfs -text
recon.csv.psd filter=lfs diff=lfs merge=lfs -text
recon.psd filter=lfs diff=lfs merge=lfs -text
recon.csv filter=lfs diff=lfs merge=lfs -text
